* {
    box-sizing: border-box;
}

body {
    font-family: "avenir next";/* husk og finne en backup font*/
    
}

h1 {
    text-transform: uppercase;
    font-weight: 200;
}

p {
    font-family: avenir; /*Mengde teskt skal være i en annen font*/
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav > a {
    text-transform: uppercase;
    text-decoration-line: none; 
    color: rgb(170, 170, 170); 
    padding:  20px 60px 10px 60px; /*spørr om denne linjen kan gjøres mer flex*/
    transition: 0.5s;
}

a:hover{
    color: orange;
}

body {
    margin: 0;
   /* background-color: #1d1413;*/
    
}

header {
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: left bottom;
}


main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 520px) {
    nav a {
        padding:  20px 20px 10px 20px; /*spørr om denne linjen kan gjøres mer flex*/
    }
    
}